---
layout: nil
---
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
  <title>{{ site.name }}</title>
  <atom:link href="http://{{ site.host }}/feed/" rel="self" type="application/rss+xml" />
  <link>http://{{ site.host }}</link>
  <description>{{ site.tagline }}</description>
	<lastBuildDate>{{ site.time | date_to_xmlschema }}</lastBuildDate>
	<language>en</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>

    {% for post in site.posts %}
		<item>
      <title>{{ post.title }}</title>
      <link>{{ post.url }}</link>
      <comments>http://{{site.host}}/{{ post.url }}/#comments</comments>
      <pubDate>{{ post.date | date_to_xmlschema }}</pubDate>
      <dc:creator>Lakshan Perera</dc:creator>

      {% for tag in post.tags %}
      <category><![CDATA[{{ tag }}]]></category>
      {% endfor %}

      <guid isPermaLink="false">http://{{ site.host }}/{{ post.url }}</guid>
      <description><![CDATA[{{ post.excerpt | xml_escape }} [...]]]></description>
      <content:encoded><![CDATA[{{ post.content }}]]></content:encoded>
		</item>
    {% endfor %}
	</channel>
</rss>
